<div class="card">
  <div class="card-body">
    <h5 class="card-title">isim</h5>
    <p class="card-text">yazar</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">kategori</li>
    <li class="list-group-item">yayinevi</li>
    <li class="list-group-item">yil</li>
    <li class="list-group-item">fiyat ₺</li>
    <li class="list-group-item">aciklama</li>
  </ul>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col">
          <button class="btn btn-outline-warning btn-block btn-sm">
            Kitap Güncelle
          </button>
        </div>
        <div class="col">
          <button class="btn btn-outline-danger btn-block btn-sm">
            Kitap Sil
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
