<div id="login">
  <div class="container">
    <div class="row">
      <div class="col">
        <form (submit)="login()">
          <div class="mb-3">
            <label for="exampleInputAd" class="form-label">Adınız</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputAd"
              [(ngModel)]="loginUser.ad"
              name="loginUser.ad"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputSoyad" class="form-label">Soyadınız</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputSoyad"
              [(ngModel)]="loginUser.soyad"
              name="loginUser.soyad"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              [(ngModel)]="loginUser.sifre"
              name="loginUser.sifre"
            />
          </div>
          <button type="submit" class="btn btn-primary">Giriş</button>
        </form>
      </div>
    </div>
  </div>
</div>
