<div>
    <div class="card" style="width: 18rem">
        <div class="card-header">
            bayi id: {{ talep.bayi_isim }} | tarih: {{ talep.tarih }}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Kitap isim: {{ talep.talep_id }}</li>
            <li class="list-group-item">adet:</li>
            <li class="list-group-item">toplam fiyat: {{ talep.fiyat }}</li>
            <li class="list-group-item">İl:</li>
            <li class="list-group-item">İlçe:</li>
            <li class="list-group-item">Posta kodu</li>
            <li class="list-group-item">bayi sahibi isim:</li>
            <li class="list-group-item">adet:</li>
            <li class="list-group-item">email:</li>
        </ul>
    </div>
</div>